@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: $main-text-color;
  background-color: $main-bg-color;
}
