<div class="js-mobile-backdrop mobile-backdrop">
  <div class="js-menu-container mobile-menu-container">
    <div class="mobile-lang-btn-wrapper js-mobile-lang-btn-wrapper">
      <button
        class="mobile-lang-btn js-lang-btn"
        type="button"
        data-lang="ua"
        aria-label="ukrainian language toggle"
      >
        ua
      </button>
      <span class="lang-separator">|</span>
      <button
        class="mobile-lang-btn js-lang-btn"
        type="button"
        data-lang="en"
        aria-label="english language toggle"
      >
        eng
      </button>
    </div>
    <div>
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <button
            class="mobile-nav-link js-nav-home i18n"
            data-i18n="header-home"
            aria-label="to home"
          ></button>
        </li>
        <li class="mobile-nav-item">
          <button
            class="mobile-nav-link js-nav-about i18n"
            data-i18n="header-about"
            aria-label="to about section"
          ></button>
        </li>
        <li class="mobile-nav-item">
          <button
            class="mobile-nav-link js-nav-gallery i18n"
            data-i18n="header-gallery"
            aria-label="to gallery section"
          ></button>
        </li>
      </ul>
    </div>
  </div>
</div>
