<section class="section-about">
  <div class="about" id="about"></div>
  <div class="container">
    <h2 class="about-title i18n" data-i18n="about-title"></h2>
    <p
      class="about-description first-part i18n"
      data-i18n="about-description-1"
    ></p>
    <p class="about-description i18n" data-i18n="about-description-2"></p>
    <ul class="about-gallery-list">
      <li class="about-gallery-list-item">
        <a
          href="./images/about/large/escalator-large.jpg"
          class="about-lightbox-link"
        >
          <picture class="js-img">
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/about/desktop/webp/escalator.webp    1x,
                ./images/about/desktop/webp/escalator@2x.webp 2x,
                ./images/about/desktop/webp/escalator@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/about/desktop/jpg/escalator.jpg    1x,
                ./images/about/desktop/jpg/escalator@2x.jpg 2x,
                ./images/about/desktop/jpg/escalator@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/about/tablet/webp/escalator.webp    1x,
                ./images/about/tablet/webp/escalator@2x.webp 2x,
                ./images/about/tablet/webp/escalator@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/about/tablet/jpg/escalator.jpg    1x,
                ./images/about/tablet/jpg/escalator@2x.jpg 2x,
                ./images/about/tablet/jpg/escalator@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/about/mobile/webp/escalator.webp    1x,
                ./images/about/mobile/webp/escalator@2x.webp 2x,
                ./images/about/mobile/webp/escalator@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/about/mobile/jpg/escalator.jpg    1x,
                ./images/about/mobile/jpg/escalator@2x.jpg 2x,
                ./images/about/mobile/jpg/escalator@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/about/mobile/jpg/escalator.jpg"
              alt="Underground escalator"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="about-gallery-list-item">
        <a
          href="./images/about/large/building-large.jpg"
          class="about-lightbox-link"
        >
          <picture class="js-img">
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/about/desktop/webp/building.webp    1x,
                ./images/about/desktop/webp/building@2x.webp 2x,
                ./images/about/desktop/webp/building@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/about/desktop/jpg/building.jpg    1x,
                ./images/about/desktop/jpg/building@2x.jpg 2x,
                ./images/about/desktop/jpg/building@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/about/tablet/webp/building.webp    1x,
                ./images/about/tablet/webp/building@2x.webp 2x,
                ./images/about/tablet/webp/building@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/about/tablet/jpg/building.jpg    1x,
                ./images/about/tablet/jpg/building@2x.jpg 2x,
                ./images/about/tablet/jpg/building@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/about/mobile/webp/building.webp    1x,
                ./images/about/mobile/webp/building@2x.webp 2x,
                ./images/about/mobile/webp/building@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/about/mobile/jpg/building.jpg    1x,
                ./images/about/mobile/jpg/building@2x.jpg 2x,
                ./images/about/mobile/jpg/building@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/about/mobile/jpg/building.jpg"
              alt="Raiways building"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="about-gallery-list-item">
        <a
          href="./images/about/large/door-large.jpg"
          class="about-lightbox-link"
        >
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/about/desktop/webp/door.webp    1x,
                ./images/about/desktop/webp/door@2x.webp 2x,
                ./images/about/desktop/webp/door@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/about/desktop/jpg/door.jpg    1x,
                ./images/about/desktop/jpg/door@2x.jpg 2x,
                ./images/about/desktop/jpg/door@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/about/tablet/webp/door.webp    1x,
                ./images/about/tablet/webp/door@2x.webp 2x,
                ./images/about/tablet/webp/door@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/about/tablet/jpg/door.jpg    1x,
                ./images/about/tablet/jpg/door@2x.jpg 2x,
                ./images/about/tablet/jpg/door@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/about/mobile/webp/door.webp    1x,
                ./images/about/mobile/webp/door@2x.webp 2x,
                ./images/about/mobile/webp/door@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/about/mobile/jpg/door.jpg    1x,
                ./images/about/mobile/jpg/door@2x.jpg 2x,
                ./images/about/mobile/jpg/door@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/about/mobile/jpg/door.jpg"
              alt="Traffic lights"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
