<footer class="page-footer">
  <div class="container">
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          class="footer-social-link social-youtube"
          href="https://www.youtube.com/channel/UC58VeGy0CHRzif5gPaUoPVA"
          target="_blank"
          rel="noreferrer noopener nofollow"
          aria-label="youtube link"
        >
          <svg class="social-icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link social-discord"
          href="https://discord.gg/SPewnHwySB"
          target="_blank"
          rel="noreferrer noopener nofollow"
          aria-label="discord link"
        >
          <svg class="social-icon" width="40" height="40">
            <use href="./images/svg/sprite.svg#discord"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link social-inst"
          href="https://www.instagram.com/skyunion_studio/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          aria-label="instagram link"
        >
          <i class="fa fa-instagram" id="inst-icon" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <p class="footer-text">Sky Union &#169; 2023 All Rights Reserved</p>
  </div>
</footer>
