<section class="section-gallery">
  <a class="gallery" id="gallery"></a>
  <div class="container">
    <h2 class="gallery-title i18n" data-i18n="gallery-title">Галерея</h2>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <a
          href="./images/gallery/large/gallery-1-large.jpg"
          class="gallery-lightbox-link"
        >
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/webp/gallery-1.webp    1x,
                ./images/gallery/desktop/webp/gallery-1@2x.webp 2x,
                ./images/gallery/desktop/webp/gallery-1@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/jpg/gallery-1.jpg    1x,
                ./images/gallery/desktop/jpg/gallery-1@2x.jpg 2x,
                ./images/gallery/desktop/jpg/gallery-1@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/webp/gallery-1.webp    1x,
                ./images/gallery/tablet/webp/gallery-1@2x.webp 2x,
                ./images/gallery/tablet/webp/gallery-1@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/jpg/gallery-1.jpg    1x,
                ./images/gallery/tablet/jpg/gallery-1@2x.jpg 2x,
                ./images/gallery/tablet/jpg/gallery-1@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/webp/gallery-1.webp    1x,
                ./images/gallery/mobile/webp/gallery-1@2x.webp 2x,
                ./images/gallery/mobile/webp/gallery-1@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/jpg/gallery-1.jpg    1x,
                ./images/gallery/mobile/jpg/gallery-1@2x.jpg 2x,
                ./images/gallery/mobile/jpg/gallery-1@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/gallery/mobile/jpg/gallery-1.jpg"
              alt="Underground doors"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list-item">
        <a
          href="./images/gallery/large/gallery-2-large.jpg"
          class="gallery-lightbox-link"
        >
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/webp/gallery-2.webp    1x,
                ./images/gallery/desktop/webp/gallery-2@2x.webp 2x,
                ./images/gallery/desktop/webp/gallery-2@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/jpg/gallery-2.jpg    1x,
                ./images/gallery/desktop/jpg/gallery-2@2x.jpg 2x,
                ./images/gallery/desktop/jpg/gallery-2@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/webp/gallery-2.webp    1x,
                ./images/gallery/tablet/webp/gallery-2@2x.webp 2x,
                ./images/gallery/tablet/webp/gallery-2@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/jpg/gallery-2.jpg    1x,
                ./images/gallery/tablet/jpg/gallery-2@2x.jpg 2x,
                ./images/gallery/tablet/jpg/gallery-2@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/webp/gallery-2.webp    1x,
                ./images/gallery/mobile/webp/gallery-2@2x.webp 2x,
                ./images/gallery/mobile/webp/gallery-2@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/jpg/gallery-2.jpg    1x,
                ./images/gallery/mobile/jpg/gallery-2@2x.jpg 2x,
                ./images/gallery/mobile/jpg/gallery-2@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/gallery/mobile/jpg/gallery-2.jpg"
              alt="Underground hall"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list-item">
        <a
          href="./images/gallery/large/gallery-3-large.jpg"
          class="gallery-lightbox-link"
        >
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/webp/gallery-3.webp    1x,
                ./images/gallery/desktop/webp/gallery-3@2x.webp 2x,
                ./images/gallery/desktop/webp/gallery-3@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/jpg/gallery-3.jpg    1x,
                ./images/gallery/desktop/jpg/gallery-3@2x.jpg 2x,
                ./images/gallery/desktop/jpg/gallery-3@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/webp/gallery-3.webp    1x,
                ./images/gallery/tablet/webp/gallery-3@2x.webp 2x,
                ./images/gallery/tablet/webp/gallery-3@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/jpg/gallery-3.jpg    1x,
                ./images/gallery/tablet/jpg/gallery-3@2x.jpg 2x,
                ./images/gallery/tablet/jpg/gallery-3@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/webp/gallery-3.webp    1x,
                ./images/gallery/mobile/webp/gallery-3@2x.webp 2x,
                ./images/gallery/mobile/webp/gallery-3@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/jpg/gallery-3.jpg    1x,
                ./images/gallery/mobile/jpg/gallery-3@2x.jpg 2x,
                ./images/gallery/mobile/jpg/gallery-3@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/gallery/mobile/jpg/gallery-3.jpg"
              alt="Underground hall"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list-item">
        <a
          href="./images/gallery/large/gallery-4-large.jpg"
          class="gallery-lightbox-link"
        >
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/webp/gallery-4.webp    1x,
                ./images/gallery/desktop/webp/gallery-4@2x.webp 2x,
                ./images/gallery/desktop/webp/gallery-4@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/jpg/gallery-4.jpg    1x,
                ./images/gallery/desktop/jpg/gallery-4@2x.jpg 2x,
                ./images/gallery/desktop/jpg/gallery-4@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/webp/gallery-4.webp    1x,
                ./images/gallery/tablet/webp/gallery-4@2x.webp 2x,
                ./images/gallery/tablet/webp/gallery-4@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/jpg/gallery-4.jpg    1x,
                ./images/gallery/tablet/jpg/gallery-4@2x.jpg 2x,
                ./images/gallery/tablet/jpg/gallery-4@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/webp/gallery-4.webp    1x,
                ./images/gallery/mobile/webp/gallery-4@2x.webp 2x,
                ./images/gallery/mobile/webp/gallery-4@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/jpg/gallery-4.jpg    1x,
                ./images/gallery/mobile/jpg/gallery-4@2x.jpg 2x,
                ./images/gallery/mobile/jpg/gallery-4@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/gallery/mobile/jpg/gallery-4.jpg"
              alt="Underground escalator"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list-item">
        <a
          href="./images/gallery/large/gallery-5-large.jpg"
          class="gallery-lightbox-link"
        >
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/webp/gallery-5.webp    1x,
                ./images/gallery/desktop/webp/gallery-5@2x.webp 2x,
                ./images/gallery/desktop/webp/gallery-5@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/jpg/gallery-5.jpg    1x,
                ./images/gallery/desktop/jpg/gallery-5@2x.jpg 2x,
                ./images/gallery/desktop/jpg/gallery-5@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/webp/gallery-5.webp    1x,
                ./images/gallery/tablet/webp/gallery-5@2x.webp 2x,
                ./images/gallery/tablet/webp/gallery-5@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/jpg/gallery-5.jpg    1x,
                ./images/gallery/tablet/jpg/gallery-5@2x.jpg 2x,
                ./images/gallery/tablet/jpg/gallery-5@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/webp/gallery-5.webp    1x,
                ./images/gallery/mobile/webp/gallery-5@2x.webp 2x,
                ./images/gallery/mobile/webp/gallery-5@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/jpg/gallery-5.jpg    1x,
                ./images/gallery/mobile/jpg/gallery-5@2x.jpg 2x,
                ./images/gallery/mobile/jpg/gallery-5@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/gallery/mobile/jpg/gallery-5.jpg"
              alt="Underground escalator"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list-item">
        <a
          href="./images/gallery/large/gallery-6-large.jpg"
          class="gallery-lightbox-link"
        >
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/webp/gallery-6.webp    1x,
                ./images/gallery/desktop/webp/gallery-6@2x.webp 2x,
                ./images/gallery/desktop/webp/gallery-6@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/jpg/gallery-6.jpg    1x,
                ./images/gallery/desktop/jpg/gallery-6@2x.jpg 2x,
                ./images/gallery/desktop/jpg/gallery-6@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/webp/gallery-6.webp    1x,
                ./images/gallery/tablet/webp/gallery-6@2x.webp 2x,
                ./images/gallery/tablet/webp/gallery-6@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/jpg/gallery-6.jpg    1x,
                ./images/gallery/tablet/jpg/gallery-6@2x.jpg 2x,
                ./images/gallery/tablet/jpg/gallery-6@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/webp/gallery-6.webp    1x,
                ./images/gallery/mobile/webp/gallery-6@2x.webp 2x,
                ./images/gallery/mobile/webp/gallery-6@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/jpg/gallery-6.jpg    1x,
                ./images/gallery/mobile/jpg/gallery-6@2x.jpg 2x,
                ./images/gallery/mobile/jpg/gallery-6@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/gallery/mobile/jpg/gallery-6.jpg"
              alt="Underground exit doors"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="gallery-list-item">
        <a
          href="./images/gallery/large/gallery-7-large.jpg"
          class="gallery-lightbox-link"
        >
          <picture>
            <!-- desktop -->
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/webp/gallery-7.webp    1x,
                ./images/gallery/desktop/webp/gallery-7@2x.webp 2x,
                ./images/gallery/desktop/webp/gallery-7@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:1440px)"
              srcset="
                ./images/gallery/desktop/jpg/gallery-7.jpg    1x,
                ./images/gallery/desktop/jpg/gallery-7@2x.jpg 2x,
                ./images/gallery/desktop/jpg/gallery-7@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- tablet -->
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/webp/gallery-7.webp    1x,
                ./images/gallery/tablet/webp/gallery-7@2x.webp 2x,
                ./images/gallery/tablet/webp/gallery-7@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/gallery/tablet/jpg/gallery-7.jpg    1x,
                ./images/gallery/tablet/jpg/gallery-7@2x.jpg 2x,
                ./images/gallery/tablet/jpg/gallery-7@3x.jpg 3x
              "
              type="image/jpg"
            />
            <!-- mobile -->
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/webp/gallery-7.webp    1x,
                ./images/gallery/mobile/webp/gallery-7@2x.webp 2x,
                ./images/gallery/mobile/webp/gallery-7@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(max-width:767.98px)"
              srcset="
                ./images/gallery/mobile/jpg/gallery-7.jpg    1x,
                ./images/gallery/mobile/jpg/gallery-7@2x.jpg 2x,
                ./images/gallery/mobile/jpg/gallery-7@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              src="./images/gallery/mobile/jpg/gallery-7.jpg"
              alt="Black and yellow stopper"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
