<header class="page-header">
  <div class="container">
    <button
      type="button"
      class="js-open-menu js-close-menu header-mobile-btn"
      aria-expanded="false"
    >
      <svg width="40" height="40">
        <use
          class="burger-icon active"
          href="./images/svg/sprite.svg#burger"
        ></use>
        <use class="close-icon" href="./images/svg/sprite.svg#close"></use>
      </svg>
    </button>
    <a href="./index.html" class="logo">
      <svg class="logo-icon" width="47" height="50">
        <use href="./images/svg/sprite.svg#logo"></use>
      </svg>
      <span class="logo-text-wrapper">
        <span class="logo-text-main">Sky Union</span>
        <span class="logo-text-secondary">Game Studio</span>
      </span>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <button class="header-nav-link js-nav-home">Головна</button>
        </li>
        <li class="header-nav-item">
          <button class="header-nav-link js-nav-about">Про нас</button>
        </li>
        <li class="header-nav-item">
          <button class="header-nav-link js-nav-gallery">Галерея</button>
        </li>
      </ul>
    </nav>
    <div class="lang-btn-wrapper js-lang-container">
      <button class="lang-btn js-lang-btn-ua" type="button" data-lang="ua">
        ua
      </button>
      <span class="lang-separator">|</span>
      <button class="lang-btn js-lang-btn-en" type="button" data-lang="en">
        eng
      </button>
    </div>
  </div>
</header>
<div class="js-mobile-backdrop mobile-backdrop">
  <div class="js-menu-container mobile-menu-container">
    <div class="mobile-lang-btn-wrapper">
      <button class="mobile-lang-btn" type="button">ua</button>
      <span class="lang-separator">|</span>
      <button class="mobile-lang-btn" type="button">eng</button>
    </div>
    <div>
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <button class="mobile-nav-link js-nav-home">Головна</button>
        </li>
        <li class="mobile-nav-item">
          <button class="mobile-nav-link js-nav-about">Про нас</button>
        </li>
        <li class="mobile-nav-item">
          <button class="mobile-nav-link js-nav-gallery">Галерея</button>
        </li>
      </ul>
    </div>
  </div>
</div>
