body {
  overflow: hidden; //for block scroll while loading
}

.preloader {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  // overflow: hidden;

  height: 100vh;

  background-color: $main-bg-color;
  z-index: 2000;
}

.preloader-icon {
  position: absolute;
  fill: $main-text-color;
  animation: pulse 1.5s infinite linear;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}
