.section-about {
  padding-top: 64px;
  padding-bottom: 64px;
  min-width: 320px;

  background-color: $secondary-bg-color;
  @media screen and (min-width: 768px) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.about-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.23;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
    font-size: 36px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 48px;
    font-size: 40px;
  }
}

.about-description {
  margin-bottom: 70px;
  width: 100%;

  font-size: 4.28vw;
  font-weight: 500;
  line-height: 1.23;

  @media screen and (max-width: 319.98px) {
    font-size: 13.7px;
  }
  @media screen and (min-width: 375px) {
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
    font-size: 24px;
  }

  @media screen and (min-width: 1440px) {
    width: 923px;
    margin-bottom: 96px;
  }

  &.first-part {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

.about-gallery-list {
  display: flex;
  flex-direction: column;
  row-gap: 43px;
  align-items: center;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    column-gap: 20px;
  }
}

a.about {
  display: block;
  position: relative;
  top: -172px;
  visibility: hidden;
  @media screen and (min-width: 768px) {
    top: -222px;
  }
  @media screen and (min-width: 1440px) {
    top: -205px;
  }
}
