.page-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  min-width: 320px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(17.5px);
  backdrop-filter: blur(17.5px);

  padding-top: 17px;
  padding-bottom: 17px;

  @media screen and (min-width: 768px) {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767.98px) {
      max-width: none;
    }
    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }
  }
}

.header-mobile-btn {
  position: absolute;
  left: 32px;
  top: 17px;
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-icon {
  display: none;
  stroke: $main-text-color;
  &.active {
    display: block;
  }
}

.burger-icon {
  display: none;
  stroke: $main-text-color;
  &.active {
    display: block;
  }
}

.logo {
  display: inline-flex;
  padding: 12px 17px;
  flex-wrap: wrap;
  gap: 14px;
  @media screen and (min-width: 768px) {
    padding: 9px 0;
  }
  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}

.logo-icon {
  fill: $main-text-color;
  @media screen and (min-width: 768px) {
    width: 53px;
    height: 56px;
  }
  @media screen and (min-width: 1440px) {
    width: 57.5px;
    height: 61px;
  }
}

.logo-text-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;

  justify-content: center;
}

.logo-text-main {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;

  line-height: 1;
  letter-spacing: -0.007em;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    letter-spacing: -0.005em;
  }
  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
}

.logo-text-secondary {
  font-family: 'Manrope';
  font-weight: 200;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    letter-spacing: 0.01em;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    letter-spacing: 0.005em;
  }
}

.header-nav {
  display: none;
  margin-right: auto;
  margin-left: 50px;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.header-nav-item {
  display: flex;
  align-items: center;
}

.header-nav-link {
  padding: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 16px;
  line-height: 1.25;

  background-color: transparent;
  transform: scale(1);
  transition: transform $transition;

  &::after {
    display: block;
    content: '';
    border-bottom: solid 2px $main-accent-color;
    -webkit-transform: scaleX(0) translateY(6px);
    -ms-transform: scaleX(0) translateY(6px);
    transform: scaleX(0) translateY(6px);
    -webkit-transition: -webkit-transform $transition;
    transition: -webkit-transform $transition;
    -o-transition: transform $transition;
    transition: transform $transition;
    transition: transform $transition, -webkit-transform $transition;
  }
  &:hover::after {
    -webkit-transform: scaleX(1) translateY(6px);
    -ms-transform: scaleX(1) translateY(6px);
    transform: scaleX(1) translateY(6px);
  }

  // &::after {
  //   display: block;
  //   content: '';
  //   border-bottom: solid 2px $main-accent-color;
  //   transform: scaleX(0) translateY(6px);
  //   transition: transform $transition;
  // }
  // &:hover::after {
  //   transform: scaleX(1) translateY(6px);
  // }

  @media screen and (min-width: 1440px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.lang-btn-wrapper {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  gap: 5px;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.lang-btn {
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 6px;
  display: inline-block;
  cursor: pointer;
  // &.active {
  //   &::after {
  //     border-bottom: 2px solid $main-accent-color;
  //     transform: scaleX(1) translateY(6px);
  //   }
  // }

  // &::after {
  //   display: block;
  //   content: '';
  //   border-bottom: solid 2px $main-accent-color;
  //   transform: scaleX(0) translateY(6px);
  //   transition: transform $transition;
  // }
  // &:hover::after {
  //   transform: scaleX(1) translateY(6px);
  // }

  &.active {
    &::after {
      border-bottom: 2px solid $main-accent-color;
      -webkit-transform: scaleX(1) translateY(6px);
      -ms-transform: scaleX(1) translateY(6px);
      transform: scaleX(1) translateY(6px);
    }
  }

  &::after {
    display: block;
    content: '';
    border-bottom: solid 2px $main-accent-color;
    -webkit-transform: scaleX(0) translateY(6px);
    -ms-transform: scaleX(0) translateY(6px);
    transform: scaleX(0) translateY(6px);
    -webkit-transition: -webkit-transform $transition;
    transition: -webkit-transform $transition;
    -o-transition: transform $transition;
    transition: transform $transition;
    transition: transform $transition, -webkit-transform $transition;
  }
  &:hover::after {
    -webkit-transform: scaleX(1) translateY(6px);
    -ms-transform: scaleX(1) translateY(6px);
    transform: scaleX(1) translateY(6px);
  }
}

.lang-separator {
  padding-top: 4px;
  padding-bottom: 6px;
}
